*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav_sec{
    width: 100%;
    height: 100px;
}
.nav_sec_brand{
    text-align: center;
    padding: 10px;
}
#nav_sec_brand_name{
    font-size:  30px;
    text-transform: capitalize;
}
strong{
    color: red;
}

/* this is navigation section */
.nav_sec_links{
    text-align: center;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
}
li{
    width: 20%;
    height: 50px;
    font-size: 20px;
    list-style: none;
    text-align: center;
    padding: 5px;

}
 ul li a{
    text-decoration:none;
}

/* body sections */
  .content_sec{
      width: 100%;
      height: 600px;

      border: 2px solid black;
  } 

 /* body section one */

.content_sec1{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;

    border: 2px solid red;
}
.content{
    width: 100%;
    height: 50%;
    padding: 15px;
    border: 2px solid springgreen;
}
.content p{
    text-align: left;
    text-align-last: left;
    margin:auto;
    font-size: 25px;
}
.cont_links{
    width: 100%;
    height: 50%;
    border: 2px solid blue;
}
.cont_vedio{
    height: 100%;
    padding: 10px;
}
.cards{
    width: 100px;
    height: 200px;
    border: 2px solid violet;
    margin: 10px;
    
}
/* content section two */

.content_sec2{
    height: 100%;
    border: 2px solid grey; 
}
.cont_vedio{
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 25%;
}
.vedio{
    height: 100%;
}








