*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav_sec{
    width: 100%;
    height: 80px;

}
.nav_sec_brand{
    text-align: center;
    padding: 10px;


}
#nav_sec_brand_name{
    font-size:  30px;
    text-transform: capitalize;
}
strong{
    color: red;
}

/* this is navigation section */
.nav_sec_links{
    text-align: center;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
}
li{
    width: 20%;
    height: 50px;
    font-size: 20px;
    list-style: none;
    text-align: center;
    padding: 5px;

}
 ul li a{
    text-decoration:none;
}

/* body sections */
.body_sec{
    width: 100%;
    height: 700px;
    margin-top: 10px;  
}   

 /* body section one */
.body_sec_1{
    width: 50%;
    height: 100%;
    padding: 20px;

    background-color: blue;
}

.body_sec1_cont{
    height: 650px;
    padding: 10px;
    background-color: brown;
}

/* body section two */

.body_sec_2{
    width: 50%;
    height: 100%;
    padding: 20px;

    background-color: red;

}
.body_sec2_cont{
    height: 650px;
    background-color: green;
    padding: 30px;
    padding-top: 40px;
    padding-left: 40px;
}
#body_sec2_vedio{
    width: 80%;
    height: 60%;
}



@media screen and (max-width:767px){
    .nav_sec{
    width: 100%;
    height: 150px;
}
.nav_sec_brand{
    height: 50%;
    padding: 5px;
}
.nav_sec_links{
    height: 50%;
}
}
@media screen and (max-width:576px){
.nav_sec{
    width: 100%;
    height: 150px;
}
.nav_sec_brand{
    height: 50%;
    padding: 5px;
}
.nav_sec_links{
    height: 50%;
}



.body_sec_cont_2{
    width: 50%;
    height: 600px;
    padding: 10px;
    justify-content: center;
    margin-top: auto;
}
}
@media screen and (max-width:370px){
}
@media screen and (max-width:370px){
    .body_sec{
    width: 100%;
    height: 1000px;
    margin-top: 10px;  
}
.body_sec1_cont{
    height: 950px;
    padding: 10px;
    background-color: brown;
}  

}